<sm-modal-template
  title="Change Password"
  primaryButtonText="Change Password"
  [primaryButtonDisableState]="missingEmail || formGroup.invalid"
  (primaryAction)="changePassword()"
  (secondaryAction)="cancel()">

  <ng-container modalBody>

    <form modalBody [formGroup]="formGroup">
      <div *ngIf="missingEmail" class="alert alert-warning">
        You cannot change the password for this user because their email address is not set.
      </div>
      <sm-password-requirements [passwordControl]="formGroup.get('password')"></sm-password-requirements>

      <div class="form-group">
        <label for="new-password">New Password</label>
        <div class="input-group">
          <input type="password" id="new-password" class="form-control" placeholder="New Password" formControlName="password">
        </div>
      </div>
    </form>
  </ng-container>

</sm-modal-template>
