@import "~styles/variables";
@import '~styles/functions';

.pagination {
  color: theme-color('primary');
  li > a.page-link {
    border-color: $gray-200;
  }

  li.active a:hover {
    color: $white-600;
  }
}
