@import 'font-weight-variables';

.sm-font-weight-light {
  font-weight: $sm-font-weight-light !important;
}

.sm-font-weight-normal {
  font-weight: $sm-font-weight-normal !important;
}

.sm-font-weight-bold {
  font-weight: $sm-font-weight-bold !important;
}

.sm-font-weight-bolder {
  font-weight: $sm-font-weight-bolder !important;
}

.sm-font-weight-boldest {
  font-weight: $sm-font-weight-boldest !important;
}
