<div class="small text-grey-300">
  Password Requirements:
  <ul class="list-password-requirements">
    <li [class.valid]="passwordControl?.dirty && !passwordControl?.hasError('minlength')">
      Password must be at least 8 characters.
    </li>
    <li [class.valid]="passwordControl?.dirty && !passwordControl?.hasError('digits')">
      Password must have at least one digit ('0'-'9').
    </li>
    <li [class.valid]="passwordControl?.dirty && !passwordControl?.hasError('capitalCase')">
      Password must have at least one uppercase ('A'-'Z').
    </li>
    <li [class.valid]="passwordControl?.dirty && !passwordControl?.hasError('uniqueCharacters')">
      Password must use at least 6 different characters.
    </li>
  </ul>
</div>
