<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true"
			internalLogToConsole="true">
  <targets async="true">
	<target xsi:type="Null" name="devnull" />

    <target xsi:type="File"
        name="file"
        layout="${level:uppercase=true} ${longdate} ${logger} ${message} ${newline}${exception:format=ToString}${newline}"
        fileName="${basedir}/logs/log.txt"
        archiveFileName="${basedir}/logs/archives/log.{#####}.txt"
        archiveDateFormat="yyyy-MM-dd"
        archiveNumbering="DateAndSequence"
        maxArchiveFiles="14"
        archiveEvery="Day"
        concurrentWrites="false"
        keepFileOpen="false" />

		<target xsi:type="Database"
				 name="LoggingDatabase">
			<commandText>
        INSERT INTO Logging.ApplicationLogs (
         [RequestID]
        ,[SessionID]
        ,[Host]
        ,[Url]
        ,[Source]
        ,[Type]
        ,[Message]
        ,[StackTrace]
        ,[UserName]
        ) VALUES (@requestid, @sessionid, @host, @url, @source, @type, @message, @stacktrace, @username);
      </commandText>

			<!--  
					LayoutRenders for NLog:  https://github.com/nlog/NLog/wiki/Layout-Renderers
					Good list of Server Variables:   http://www.w3schools.com/asp/coll_servervariables.asp
			-->
      
      <!-- Request ID -->
      <!--<parameter name="@requestid" layout="${aspnet-item:variable=HeroicApp_RequestId}" />-->
      <parameter name="@requestid" layout="n/a" />

			<!--Host-->
			<parameter name="@host" layout="${machinename}"/>

			<!--Type-->
			<parameter name="@type" layout="${level}"/>

			<!--Source-->
			<parameter name="@source" layout="${callsite:className=true:fileName=false:includeSourcePath=false:methodName=true}"/>

			<!--SessionID-->
			<parameter name="@sessionid" layout="n/a"/>

			<!--Url-->
			<parameter name="@url" layout="${aspnet-request:serverVariable=HTTP_URL}"/>

			<!--StackTrace-->
			<parameter name="@stacktrace" layout="${stacktrace:format=Flat}"/>

			<!--Message-->
			<parameter name="@message" layout="${message}${newline}${exception:format=ToString}"/>

			<!--User-->
			<parameter name="@username" layout="${aspnet-user-identity}"/>
		</target>

		<target name="Console" xsi:type="Console" layout="${level:uppercase=true} ${longdate} ${logger} ${message} ${newline}"/>

  </targets>

	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" /> <!-- BlackHole without writeTo -->

		<logger name="Microsoft.AspNetCore.Identity.UserManager" maxLevel="Warn" final="true" />
		<logger name="Microsoft.AspNetCore.Identity.SignInManager" maxLevel="Warn" final="true" />
		
		<logger name="*" minlevel="Info" writeTo="LoggingDatabase" />
		<logger name="*" minlevel="Info" writeTo="Console" />
		<logger name="*" minlevel="Debug" writeTo="file" />
	</rules>
</nlog>